<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>

</head>
<link rel="stylesheet" th:href="@{../../static/lib/layui/css/layui.css}">
<body>
<div>
    当前位置：
    <span class="layui-breadcrumb">
     <a th:href="@{/router/toMain}">首页</a>
     <a><cite>员工管理</cite></a>
     </span>
</div>
<div id="staff_edit" style="display: none;">
    <form class="layui-form" lay-filter="staff_form">
        <div class="layui-form-item">
            <label class="layui-form-label">员工id</label>
            <div class="layui-input-inline">
                <input type="text" disabled="false" name="staff_id" lay-verify="number" autocomplete="off"
                       placeholder=""
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">部门名称</label>
            <div class="layui-input-inline">
                <input type="text" name="department_name" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行卡号</label>
            <div class="layui-input-inline">
                <input type="text" name="staff_bankCard" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline">
                <!--                lay-verify="identity"-->
                <input type="text" name="staff_idCard" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="staff_name" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <!--                lay-verify="phone"-->
                <input type="text" name="staff_phone" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家庭住址</label>
            <div class="layui-input-inline">
                <input type="text" name="staff_addr" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入职时间</label>
            <div class="layui-input-inline">
                <input type="date" name="jointime" lay-verify="date" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <button class="layui-btn" lay-submit lay-filter="update_staff"><span
                class="layui-icon layui-icon-release"></span>提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary"><span
                class="layui-icon layui-icon-refresh"></span>清空
        </button>
    </form>
</div>
<div id="staff_add" style="display: none;">
    <form class="layui-form" lay-filter="staff_form">
        <div class="layui-form-item">
            <label class="layui-form-label">员工id</label>
            <div class="layui-input-inline">
                <input type="text" name="staff_id" lay-verify="number" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-block department_name">
                <select name="department_name" lay-filter="">
                    <option value="销售部" selected>销售部</option>
                    <option value="维修部">维修部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行卡号</label>
            <div class="layui-input-inline">
                <input type="text" name="staff_bankCard" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline">
                <!--                lay-verify="identity"-->
                <input type="text" name="staff_idCard" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="staff_name" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <!--                lay-verify="phone"-->
                <input type="text" name="staff_phone" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家庭住址</label>
            <div class="layui-input-inline">
                <input type="text" name="staff_addr" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入职时间</label>
            <div class="layui-input-inline">
                <input type="date" name="jointime" lay-verify="date" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <button class="layui-btn" lay-submit lay-filter="add"><span
                class="layui-icon layui-icon-release"></span>提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary"><span
                class="layui-icon layui-icon-refresh"></span>清空
        </button>
    </form>
</div>

<table class="layui-hide" id="staff_form" lay-filter="staff_filter">
</table>

<script type="text/html" id="toolbar_head">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="addStaff">新增</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="staff:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete" shiro:hasPermission="staff:delete">删除</a>
</script>
<!--<span th:text="${msg}"></span>-->
<script th:src="@{../../static/lib/layui/layui.js}"></script>
<script th:src="@{../../static/js/laycontrol.js}"></script>
</body>
</html>