<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
         https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--指定扫描包-->
    <context:component-scan base-package="www.han.service"/>
    <tx:annotation-driven/>
    <bean id="staffServiceImpl" class="www.han.service.StaffServiceImpl">
        <property name="staffMapper" ref="staffMapper"/>
    </bean>
    <bean id="userServiceImpl" class="www.han.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="roleServiceImpl" class="www.han.service.RoleServiceImpl">
        <property name="roleMapper" ref="roleMapper"/>
    </bean>
    <bean id="permServiceImpl" class="www.han.service.PermServiceImpl">
        <property name="permMapper" ref="permMapper"/>
    </bean>
    <bean id="carServiceImpl" class="www.han.service.CarServiceImpl">
    </bean>

</beans>