<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.han.mapper.PermMapper">
    <select id="getPerms" parameterType="String" resultType="String">
    select perms from sh_perm where id in (
        select perm_id from sh_role_perm where role_id = (
             select role_id from sh_user_role where user_id=(
                 select user_id from car.user where user_name=#{userName}
        )
    )
)
    </select>
    <select id="getUrl" resultType="String">
    select url from sh_perm where id in (
        select perm_id from sh_role_perm where role_id = (
             select role_id from sh_user_role where user_id=(
                 select user_id from car.user where user_name=#{userName}
        )
    )
)
    </select>
    <select id="getAllUrl" resultType="String">
        select url from sh_perm
    </select>
</mapper>